TensorRT-LLM
TensorRT-Model-Optimizer
*.swp
engines/**
model_weights/**
model_build_configs/**
model_serve_args/*.json
scripts/**/model.cache
scripts/models/*.json
venv/
.venv
__pycache__/
*.pyc
*.pyo
.env
.DS_Store
*.bak
extra_llm_api_options/*.yml
.tool-versions
.webui*
